<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TipODFreq.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TipODFreq.Properties.Settings>
            <setting name="ConString" serializeAs="String">
                <value>Data Source=localhost;Database=ALD_TipOD;UID=sa;Password= 100100; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;</value>
            </setting>
        </TipODFreq.Properties.Settings>
    </userSettings>
</configuration>