<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TipOdFreqAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TipOdFreqAdmin.Properties.Settings>
            <setting name="ConString" serializeAs="String">
                <value>4LxE/a+D1aN38ut8vvBCcghMbkTSmcyBcML3Uo+yGpjDFhvHDZ0TTQrNs5BzWTrmXuV8s2qBvGaXtRuv57ncQupXJvdJ9GzPyMRqOL2jhjvjKeVvAbpe3jKbL2NvbpFd7v7h5NvIduukatQeC2mdfmc+ovHfxjti80ChX5YyHIRPpqjUrtLjog==</value>
            </setting>
            <setting name="PathCsvDataOd" serializeAs="String">
                <value>D:\MyCompany\8.SourceCode\3.Projects\20220820aldilaTipOdFreqMrDiepMrKhai\info\DATA\DATABASE\Database-Tip OD-Frequency- hieu chinh.csv</value>
            </setting>
            <setting name="PathCsvDataFormulaG" serializeAs="String">
                <value>D:\MyCompany\8.SourceCode\3.Projects\20220820aldilaTipOdFreqMrDiepMrKhai\info\DATA\DATABASE\cong thuc G.csv</value>
            </setting>
            <setting name="PathCsvDataFormulaPo" serializeAs="String">
                <value>D:\MyCompany\8.SourceCode\3.Projects\20220820aldilaTipOdFreqMrDiepMrKhai\info\DATA\DATABASE\cong thuc PO.csv</value>
            </setting>
            <setting name="PathExport" serializeAs="String">
                <value />
            </setting>
        </TipOdFreqAdmin.Properties.Settings>
    </userSettings>
</configuration>